html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure the body takes up the full height of the viewport */
}

body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  height: 100vh; /* Full height */
  display: flex;
  justify-content: space-between; /* This pushes the footer to the bottom */
  align-items: center;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling when content exceeds the viewport height */
}


#projectspage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 700px; /* Limit the width of the content */
  padding: 20px;
  margin: 50px auto; /* Adjust this value to change the space outside the container */
  box-sizing: border-box;
  flex-grow: 1; /* Ensure this section grows to fill the space */

}


#projects-article {
  font-size: 14px;
  max-width: 700px; 
  margin: auto; 
  padding: 20px; 
  font-family: 'Inter', sans-serif; 
  line-height: 1.6; 
  color: #000;
}


#topnav{
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
  margin-bottom: 20px;
}

/* Default state of navigation links */
.nav-link {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  margin: 0 10px;
}

/* State when a link is active (clicked) */
.nav-link.active {
  text-decoration: none !important; /* Remove underline */
  color: grey!important ; /* Change text color */
}


#topnav-text{
  color: black;
  font-weight: bold;
  margin: 0 10px;

}

#content {
  width: 100%; /* Ensures the content spans the full width */
  margin-top: 20px; /* To ensure content doesn't overlap with topnav */
  text-align: left; /* Keeps content text aligned to the left */
}

.article {
  margin-bottom: 20px;
}

.article-content {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.article-thumb {
  width: 200px;
  border-radius: 8px;
  flex-shrink: 0;
}


hr {
  height: 1px; /* Thickness of the line */
  background-color: black; /* Color of the line */
  margin: 40px 0; /* Space around the line */
}

.image-preview {
 display: flex; 
 flex-wrap: wrap; 
 gap: 20px; 
 justify-content: left; 
 margin-bottom: 30px
}

h1, h2, h3{
  align-self: flex-start; /* Aligns the <h1> to the left within #homepage */
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%; /* Ensures it spans the full width of the container */
}
  

.code-block {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 1em;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  white-space: pre;
  display: block;
}

pre[class*="language-"] {
  border-radius: 10px;
  padding: 1rem;
  background: #f5f2f0;
  overflow-x: auto;
  font-size: 0.95rem;
}

button.copy-to-clipboard-button {
  font-size: 0.75rem;
  border: none;
  padding: 0.3rem 0.6rem;
  margin: 0.3rem;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}


footer{
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}
  
#ig-icon, #lnkdin-icon{
  color:black;
  font-size: 20px;
  margin: 0 5px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: darkgrey;
  text-decoration: underline;
}